@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
}
@section scripts {
    <script src="@Url.Content("~/static/js/road/index.js")"></script>
}

<div id="app">
    <div class="main-wrap">
        <h2>每月道路認養回報</h2>
        <el-form inline v-cloak>
            <el-form-item label="案件狀態">{{form.WorkStatus | workStatus}}</el-form-item>
            <el-form-item label="管制編號">{{form.C_NO}}-{{form.SER_NO}}</el-form-item>
            <el-form-item label="工程名稱">{{form.COMP_NAM}}</el-form-item>
            <el-form-item label="申報工期">{{form.B_DATE2 | date}}~{{form.E_DATE2 | date}}</el-form-item>
            <el-form-item>
                <el-button v-if="promise" type="info" icon="el-icon-search" round @@click="promiseDialogVisible = true">檢視認養承諾書</el-button>
                <el-button v-else type="info" icon="el-icon-plus" round @@click="addPromise()">新增認養承諾書</el-button>
            </el-form-item>
        </el-form>
        <el-button type="success" icon="el-icon-plus" @@click="addReport()">新增認養成果</el-button>
        <el-table :data="roadReports" :loading="loading" border stripe>
            <el-table-column label="功能" width="100" align="center" fixed>
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" icon="el-icon-search" circle title="查看" @@click="showModal(scope.row)"></el-button>
                </template>
            </el-table-column>
            <el-table-column type="index" label="序號" align="center" width="80"></el-table-column>
            <el-table-column label="申報年月" align="center" width="100">
                <template slot-scope="scope">
                    {{ scope.row.YearMth }}
                </template>
            </el-table-column>
            <el-table-column prop="RoadName" label="認養道路名稱" align="center" width="160"></el-table-column>
            <el-table-column label="道路清掃方式" align="center" width="140">
                <template slot-scope="scope">
                    {{ scope.row.CleanWay1 }}({{scope.row.CleanWay2}})
                </template>
            </el-table-column>
            <el-table-column label="洗掃頻率" align="center" width="120">
                <template slot-scope="scope">
                    {{ scope.row.Frequency }}{{scope.row.Times}}次
                </template>
            </el-table-column>
            <el-table-column prop="LengthPerTimes" label="每次洗掃街長度" align="center" width="140"></el-table-column>
            <el-table-column prop="TotalLength" label="當月洗掃街總長度" align="center" width="140"></el-table-column>
            <el-table-column prop="GreenLength" label="綠美化執行總長度" align="center" width="140"></el-table-column>
        </el-table>
    </div>

    <el-dialog title="建立認養承諾書" :visible.sync="promiseDialogVisible" width="50%" v-if="promise" v-cloak>
        <el-form :rules="promiseRules" ref="form1" :model="promise" label-width="120px" :disabled="promise.ID">
            <el-form-item label="管制編號">{{form.C_NO}}-{{form.SER_NO}}</el-form-item>
            <el-form-item label="工地名稱">{{form.COMP_NAM}}</el-form-item>
            <el-form-item label="工地地點">{{form.ADDR}}</el-form-item>
            <el-form-item label="聯絡人">{{form.R_M_NAM}}</el-form-item>
            <el-form-item label="工地電話">{{form.R_TEL}}</el-form-item>
            <el-form-item label="行動電話">{{form.R_TEL1}}</el-form-item>
            <el-form-item label="認養道路名稱">
                <el-button v-if="!promise.ID" type="success" size="mini" icon="el-icon-plus" circle @@click="addRoad"></el-button>
                <el-row class="road-row" v-for="(item, idx) in promise.Roads" :key="idx">
                    <el-button v-if="!promise.ID" class="btn-delete" type="danger" size="mini" icon="el-icon-delete" circle @@click="deleteRoad(idx)"></el-button>
                    <el-col :span="12" class="road-col">
                        <el-form-item label="道路名稱" :prop="`Roads.${idx}.RoadName`" :rules="{required: true, message: '請輸入道路名稱', trigger: 'blur'}">
                            <el-input v-model="item.RoadName" placeholder="道路名稱"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8" class="road-col">
                        <el-form-item label="認養長度" :prop="`Roads.${idx}.RoadLength`" :rules="{required: true, message: '請輸入道路長度', trigger: 'blur'}">
                            <el-input type="number" inputmode="numeric" v-model="item.RoadLength" placeholder="單位: 公里"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" class="road-col">
                        <el-form-item label="清掃方式" :prop="`Roads.${idx}.CleanWay1`" :rules="{required: true, message: '請選擇清掃方式', trigger: 'change'}">
                            <el-select v-model="item.CleanWay1">
                                <el-option label="請選擇" :value="null"></el-option>
                                <el-option label="掃街" value="掃街"></el-option>
                                <el-option label="洗街" value="洗街"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8" class="road-col">
                        <el-form-item :prop="`Roads.${idx}.CleanWay2`" :rules="{required: true, message: '請選擇清掃方式', trigger: 'change'}">
                            <el-select v-model="item.CleanWay2">
                                <el-option label="請選擇" :value="null"></el-option>
                                <el-option label="人力" value="人力"></el-option>
                                <el-option label="機具" value="機具"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12" class="road-col">
                        <el-form-item label="清掃頻率" :prop="`Roads.${idx}.Frequency`" :rules="{required: true, message: '請輸入清掃頻率', trigger: 'change'}">
                            <el-select v-model="item.Frequency">
                                <el-option label="每日" value="每日"></el-option>
                                <el-option label="每週" value="每週"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8" class="road-col">
                        <el-form-item :prop="`Roads.${idx}.Times`" :rules="{required: true, message: '請輸入清掃頻率', trigger: 'blur'}">
                            <div style="display:flex">
                                <el-input-number v-model="item.Times" :min="1"></el-input-number>
                                <span style="margin-left:10px">次</span>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item prop="StartDate" label="認養期限(起)">
                <el-date-picker class="w100p" v-model="promise.StartDate" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
            </el-form-item>
            <el-form-item prop="EndDate" label="認養期限(迄)">
                <el-date-picker class="w100p" v-model="promise.EndDate" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <template v-if="promise.ID">
                <el-button @@click="promiseDialogVisible = false">關 閉</el-button>
            </template>
            <template v-else>
                <el-button @@click="promiseDialogVisible = false">取 消</el-button>
                <el-button type="primary" @@click="sendPromise">儲 存</el-button>
            </template>
        </span>
    </el-dialog>

    <el-dialog title="建立認養成果" :visible.sync="reportDialogVisible" width="50%" v-cloak>
        <el-form :rules="promiseRules" ref="form2" :model="promise" label-width="120px">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="管制編號">{{form.C_NO}}-{{form.SER_NO}}</el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="工地名稱">{{form.COMP_NAM}}</el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="執行期間">
                        <el-date-picker class="w100p" v-model="report.YearMth" type="month" value-format="yyyyMM" placeholder="請選擇月份"></el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="負責人">{{form.R_M_NAM}}</el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="填表人"></el-form-item>
                </el-col>
            </el-row>
            <div class="table-responsive">
                <table class="table row-table">
                    <thead>
                        <tr>
                            <th>認養道路名稱</th>
                            <th>道路清掃方式</th>
                            <th>清掃頻率(次)</th>
                            <th>每次洗掃街長度(公尺)</th>
                            <th>當月洗掃街總長度(公尺)</th>
                            <th>綠美化執行總長度(公尺)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, idx) in report.Roads" :key="idx">
                            <td>{{item.RoadName}}</td>
                            <td>{{item.CleanWay1}}</td>
                            <td>{{item.Frequency}}{{item.Times}}次</td>
                            <td>
                                <el-input type="number" v-model="item.LengthPerTimes"></el-input>
                            </td>
                            <td>
                                <el-input type="number" v-model="item.TotalLength"></el-input>
                            </td>
                            <td>
                                <el-input type="number" v-model="item.GreenLength"></el-input>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="reportDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="sendReport">儲 存</el-button>
        </span>
    </el-dialog>
</div>