@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  color: #4d4d4d;
  padding-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main-container {
  padding: 20px 15px;
  margin: 0 auto;
}

.el-input.is-disabled .el-input__inner {
  color: #606266;
  background-color: #fff;
}

.el-radio__input.is-disabled + span.el-radio__label {
  color: #606266;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #606266;
}

.el-radio__inner {
  width: 18px;
  height: 18px;
}
.el-radio__inner:after {
  width: 6px;
  height: 6px;
}

.el-form-item__label {
  font-size: 16px;
  font-weight: 700;
}

.el-tabs__nav-wrap::after {
  z-index: 0;
}

.el-tabs__nav {
  z-index: 0;
}

@media (max-width: 992px) {
  .el-dialog {
    width: 90% !important;
  }
}
[v-cloak] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.w100p {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prompt-text {
  display: inline-block;
  font-size: 14px;
  color: #3081d0;
  line-height: 1;
  padding: 4px 0;
}

.btn-block {
  width: 100%;
}

.bottom-btn-row {
  text-align: center;
  padding: 20px 0;
}
.bottom-btn-row .btn-send {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 48px;
  margin: 0 6px 20px auto;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.bottom-btn-row .btn-send:hover {
  opacity: 0.9;
}

.round .el-form-item__label {
  padding: 15px 0 6px;
  line-height: 1.5;
}
.round .el-input__inner {
  border-radius: 50px;
}
.round .el-input-group__append {
  border-radius: 50px;
  border-radius: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
}
.navbar h1 {
  margin: 0;
}
.navbar .navbar-logo {
  display: inline-block;
  width: 140px;
  margin-right: 20px;
}
.navbar .navbar-logo img {
  width: 100%;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-101%);
  transition: all 0.3s;
}
.navbar .navbar-menu a {
  display: block;
  padding: 15px 20px;
  color: #595758;
  white-space: nowrap;
  text-align: left;
  transition: all 0.3s;
}
.navbar .navbar-menu li {
  width: 100%;
}
.navbar .navbar-menu li.active a {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}
.navbar .navbar-menu .dropdown {
  position: relative;
}
.navbar .navbar-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-menu .dropdown-menu {
  display: none;
  position: static;
  border-top: 1px solid #c8dbbe;
}
.navbar .navbar-menu .dropdown-menu a {
  display: block;
  margin: 3px 0;
  padding-left: 40px;
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .navbar .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 0;
    overflow-y: inherit;
    transform: translateX(0);
  }
  .navbar .navbar-menu a {
    color: #595758;
    padding: 10px;
  }
  .navbar .navbar-menu a:hover {
    color: #59a73a;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
  }
  .navbar .navbar-menu .dropdown-menu a {
    display: block;
    color: #595758;
    min-width: 120px;
    margin: 3px 0;
    padding: 10px 24px;
    opacity: 0.9;
  }
  .navbar .navbar-menu .dropdown-menu a:hover {
    color: #fff;
    background-color: #1a6fb0;
  }
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ .hamburger span {
  background-color: transparent;
}
#menuToggle:checked ~ .hamburger span:before {
  background-color: #595758;
  transform: rotate(45deg);
}
#menuToggle:checked ~ .hamburger span:after {
  background-color: #595758;
  transform: rotate(-45deg);
}
#menuToggle:checked ~ .navbar-menu {
  transform: translateX(0);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}
.hamburger span {
  position: relative;
  display: block;
  font-size: 0;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before {
  transform: translateY(-13px);
}
.hamburger span:after {
  transform: translateY(13px);
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.table-responsive {
  overflow-x: auto;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  font-weight: 700;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
  line-height: 1.428571429;
}

#app {
  min-height: calc(100vh - 231px - 72px);
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-wrap {
  max-width: 1170px;
  padding: 40px 20px;
  margin: 40px auto;
}

.form-table td {
  position: relative;
  min-width: 160px;
}

.row-table {
  width: auto;
}
.row-table th,
.row-table td {
  text-align: center;
  white-space: nowrap;
}

.head-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.head-row h3 {
  margin-bottom: 0;
  margin-right: 10px;
}

.el-tabs {
  margin-bottom: 22px;
}

.file-list {
  margin-right: 30px;
}
.file-list li {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.link-add {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 24px;
  line-height: 24px;
  color: #67C23A;
}

.link-delete {
  color: #f56c6c;
  margin-right: 10px;
}

footer {
  background-color: #ebf5ff;
  padding: 20px 0 0;
}
footer .contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
footer ul {
  line-height: 1.875rem;
  margin: 0 10px 10px;
}
footer ul .office {
  font-weight: 700;
}
footer .bottom {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  text-align: center;
}
footer .bottom ul {
  margin: 0;
}

@media (min-width: 1200px) {
  footer .contact-row {
    justify-content: space-around;
  }
}/*# sourceMappingURL=form.css.map */