@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  color: #4d4d4d;
  padding-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main-container {
  padding: 20px 15px;
  margin: 0 auto;
}

.el-input.is-disabled .el-input__inner {
  color: #606266;
  background-color: #fff;
}

.el-radio__input.is-disabled + span.el-radio__label {
  color: #606266;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #606266;
}

.el-radio__inner {
  width: 18px;
  height: 18px;
}
.el-radio__inner:after {
  width: 6px;
  height: 6px;
}

.el-form-item__label {
  font-size: 16px;
  font-weight: 700;
}

.el-tabs__nav {
  z-index: 1;
}

.el-input-group__append .el-button {
  padding: 12px 10px;
}

@media (max-width: 992px) {
  .el-dialog {
    width: 90% !important;
  }
}
[v-cloak] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.w100p {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prompt-text {
  display: inline-block;
  font-size: 14px;
  color: #3081d0;
  line-height: 1;
  padding: 4px 0;
}

.btn-block {
  width: 100%;
}

.bottom-btn-row {
  text-align: center;
  padding: 20px 0;
}
.bottom-btn-row .btn-send {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 48px;
  margin: 0 6px 20px auto;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.bottom-btn-row .btn-send:hover {
  opacity: 0.9;
}

.round .el-form-item__label {
  padding: 15px 0 6px;
  line-height: 1.5;
}
.round .el-input__inner {
  border-radius: 50px;
}
.round .el-input-group__append {
  border-radius: 50px;
  border-radius: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
}
.navbar h1 {
  margin: 0;
}
.navbar .navbar-logo {
  display: inline-block;
  width: 140px;
  margin-right: 60px;
}
.navbar .navbar-logo img {
  width: 100%;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-101%);
  transition: all 0.3s;
}
.navbar .navbar-menu a {
  display: block;
  padding: 15px 20px;
  color: #595758;
  white-space: nowrap;
  text-align: left;
  transition: all 0.3s;
}
.navbar .navbar-menu li {
  width: 100%;
}
.navbar .navbar-menu li.active a {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}
.navbar .navbar-menu .dropdown {
  position: relative;
}
.navbar .navbar-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-menu .dropdown-menu {
  display: none;
  position: static;
  border-top: 1px solid #c8dbbe;
}
.navbar .navbar-menu .dropdown-menu a {
  display: block;
  margin: 3px 0;
  padding-left: 40px;
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .navbar .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 0;
    overflow-y: inherit;
    transform: translateX(0);
  }
  .navbar .navbar-menu a {
    color: #595758;
    padding: 10px;
  }
  .navbar .navbar-menu a:hover {
    color: #59a73a;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
  }
  .navbar .navbar-menu .dropdown-menu a {
    display: block;
    color: #595758;
    min-width: 120px;
    margin: 3px 0;
    padding: 10px 24px;
    opacity: 0.9;
  }
  .navbar .navbar-menu .dropdown-menu a:hover {
    color: #fff;
    background-color: #1a6fb0;
  }
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ .hamburger span {
  background-color: transparent;
}
#menuToggle:checked ~ .hamburger span:before {
  background-color: #595758;
  transform: rotate(45deg);
}
#menuToggle:checked ~ .hamburger span:after {
  background-color: #595758;
  transform: rotate(-45deg);
}
#menuToggle:checked ~ .navbar-menu {
  transform: translateX(0);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}
.hamburger span {
  position: relative;
  display: block;
  font-size: 0;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before {
  transform: translateY(-13px);
}
.hamburger span:after {
  transform: translateY(13px);
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f0f5fc;
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  padding: 20px 0;
}
.banner .wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.banner .left,
.banner .right {
  width: 100%;
  text-align: center;
}
.banner .left {
  order: 2;
}
.banner h2 {
  font-size: 2rem;
  color: #37517e;
  margin-bottom: 50px;
}
.banner h2 .sub {
  color: #848484;
}
.banner .bg-building {
  width: 80%;
  animation: moveUpDown 2s ease infinite;
  margin-bottom: 24px;
}
.banner .bg-dot {
  position: absolute;
  width: 450px;
  right: 0;
  top: 100%;
}
.banner .link {
  display: inline-block;
  width: 196px;
  height: 54px;
  line-height: 54px;
  background-color: #fff;
  text-transform: capitalize;
  margin: 0 6px 20px;
  border-radius: 50px;
  letter-spacing: 0.25px;
  transition: all 0.3s;
}
.banner .link:last-child {
  margin-bottom: 0;
}
.banner .link.white-outline {
  color: #47b2e4;
  border: 1px solid #47b2e4;
}
.banner .link.white-outline:hover {
  color: #fff;
  background-color: #47b2e4;
}
.banner .link.primary {
  color: #fff;
  background-color: #47b2e4;
}
.banner .link.primary:hover {
  background-color: #209dd8;
}

@media (min-width: 768px) {
  .banner {
    padding: 0;
  }
  .banner .wrap {
    width: 80%;
  }
  .banner .left,
  .banner .right {
    width: 50%;
  }
  .banner .left {
    order: 0;
  }
  .banner h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  .banner .bg-building {
    width: 100%;
    margin-bottom: 0;
  }
}
.news-wrapper,
.download-wrapper {
  padding: 60px 0;
  background-color: #fafafb;
}
.news-wrapper .container,
.download-wrapper .container {
  max-width: 960px;
}
.news-wrapper h3,
.download-wrapper h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: #12141d;
  margin-bottom: 40px;
}
.news-wrapper h3:after,
.download-wrapper h3:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #12141d;
  bottom: 16px;
  margin-left: 15px;
  left: 100%;
}
.news-wrapper .index-news-list,
.download-wrapper .index-news-list {
  margin-bottom: 20px;
}
.news-wrapper .index-news-list li,
.download-wrapper .index-news-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px 18px;
  border-bottom: 1px solid #878787;
}
.news-wrapper .index-news-list .title,
.download-wrapper .index-news-list .title {
  font-size: 20px;
}
.news-wrapper .index-news-list .date,
.download-wrapper .index-news-list .date {
  font-size: 24px;
  color: #999;
  margin-right: 10px;
}
.news-wrapper .index-download-list,
.download-wrapper .index-download-list {
  margin-bottom: 20px;
}
.news-wrapper .index-download-list li,
.download-wrapper .index-download-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px 18px;
  border-bottom: 1px solid #878787;
}
.news-wrapper .index-download-list .title,
.download-wrapper .index-download-list .title {
  font-size: 20px;
}
.news-wrapper .btn-more,
.download-wrapper .btn-more {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 700;
  background-color: #6244c5;
  border-radius: 16px;
  padding: 6px 20px;
  display: inline-block;
  white-space: nowrap;
}
.news-wrapper .btn-more:hover,
.download-wrapper .btn-more:hover {
  opacity: 0.9;
}
.news-wrapper .btn-download,
.download-wrapper .btn-download {
  display: inline-block;
  color: #015fa7;
  border: 1px solid #015fa7;
  padding: 4px 20px;
  border-radius: 50px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s;
}
.news-wrapper .btn-download:hover,
.download-wrapper .btn-download:hover {
  color: #fff;
  background-color: #015fa7;
}
.news-wrapper .empty,
.download-wrapper .empty {
  font-size: 24px;
  font-weight: 700;
}

.download-wrapper {
  background-color: #ffc448;
}

@media (min-width: 768px) {
  .news-wrapper,
  .download-wrapper {
    padding: 120px 0;
  }
  .news-wrapper h3,
  .download-wrapper h3 {
    font-size: 56px;
  }
  .news-wrapper .index-news-list .title,
  .download-wrapper .index-news-list .title {
    font-size: 32px;
  }
  .news-wrapper .index-download-list .title,
  .download-wrapper .index-download-list .title {
    font-size: 32px;
  }
  .news-wrapper .btn-more,
  .download-wrapper .btn-more {
    padding: 22px 40px 23px;
  }
  .news-wrapper .btn-download,
  .download-wrapper .btn-download {
    padding: 10px 20px;
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.main-wrap {
  max-width: 1170px;
  min-height: calc(100vh - 300px);
  padding: 40px 20px;
  margin: 0 auto;
}

.headline {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2.25rem;
  margin-bottom: 60px;
}

.news-list {
  color: #333;
  width: 90%;
  margin: 0 auto 20px;
}
.news-list li {
  padding: 20px 15px 10px;
  border-bottom: 1px solid #ccc;
}
.news-list .title {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #020202;
}
.news-list .date {
  color: #db3b00;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.news-list p {
  max-height: 90px;
  margin-bottom: 4px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-title-wrap {
  border-bottom: 1px #c8c8c8 solid;
  padding: 20px 0;
  margin-bottom: 20px;
}

.pub-date {
  font-size: 1rem;
  line-height: 1.8;
}
.pub-date b {
  color: #db3b00;
}

.news-content {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.link-back {
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.download-list {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
}
.download-list li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 0 10px;
  border-bottom: 1px solid #ccc;
}
.download-list .btn-download {
  display: inline-block;
  color: #015fa7;
  border: 1px solid #015fa7;
  padding: 2px 20px;
  border-radius: 50px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s;
}
.download-list .btn-download:hover {
  color: #fff;
  background-color: #015fa7;
}

.empty img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
}
.empty .empty-text {
  color: #40a0f4;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

footer {
  background-color: #ebf5ff;
  padding: 20px 0 0;
}
footer .contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
footer ul {
  line-height: 1.875rem;
  margin: 0 10px 10px;
}
footer ul .office {
  font-weight: 700;
}
footer .bottom {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  text-align: center;
}
footer .bottom ul {
  margin: 0;
}

@media (min-width: 1200px) {
  footer .contact-row {
    justify-content: space-around;
  }
}/*# sourceMappingURL=index.css.map */ {
  margin: 0;
}

@media (min-width: 1200px) {
  footer .contact-row {
    justify-content: space-around;
  }
}/*# sourceMappingURL=index.css.map */