@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  color: #4d4d4d;
  padding-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main-container {
  padding: 20px 15px;
  margin: 0 auto;
}

.el-input.is-disabled .el-input__inner {
  color: #606266;
  background-color: #fff;
}

.el-form-item__label {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .el-dialog {
    width: 90% !important;
  }
}
[v-cloak] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.w100p {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prompt-text {
  font-size: 14px;
  color: #3081D0;
}

.btn-block {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
}
.navbar h1 {
  margin: 0;
}
.navbar .navbar-logo {
  display: inline-block;
  width: 140px;
  margin-right: 20px;
}
.navbar .navbar-logo img {
  width: 100%;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-101%);
  transition: all 0.3s;
}
.navbar .navbar-menu a {
  display: block;
  padding: 15px 20px;
  color: #595758;
  white-space: nowrap;
  text-align: left;
  transition: all 0.3s;
}
.navbar .navbar-menu li {
  width: 100%;
}
.navbar .navbar-menu li.active a {
  background-color: #51adcf;
}
.navbar .navbar-menu .dropdown {
  position: relative;
}
.navbar .navbar-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-menu .dropdown-menu {
  display: none;
  position: static;
  border-top: 1px solid #c8dbbe;
}
.navbar .navbar-menu .dropdown-menu a {
  display: block;
  margin: 3px 0;
  padding-left: 40px;
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .navbar .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 0;
    overflow-y: inherit;
    transform: translateX(0);
  }
  .navbar .navbar-menu a {
    color: #595758;
    padding: 10px;
  }
  .navbar .navbar-menu a:hover {
    color: #59a73a;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
  }
  .navbar .navbar-menu .dropdown-menu a {
    display: block;
    color: #595758;
    min-width: 120px;
    margin: 3px 0;
    padding: 10px 24px;
    opacity: 0.9;
  }
  .navbar .navbar-menu .dropdown-menu a:hover {
    color: #fff;
    background-color: #1a6fb0;
  }
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ .hamburger span {
  background-color: transparent;
}
#menuToggle:checked ~ .hamburger span:before {
  background-color: #595758;
  transform: rotate(45deg);
}
#menuToggle:checked ~ .hamburger span:after {
  background-color: #595758;
  transform: rotate(-45deg);
}
#menuToggle:checked ~ .navbar-menu {
  transform: translateX(0);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}
.hamburger span {
  position: relative;
  display: block;
  font-size: 0;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before {
  transform: translateY(-13px);
}
.hamburger span:after {
  transform: translateY(13px);
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner {
  position: relative;
  background-color: #f2ffe9;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.banner .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.banner .left,
.banner .right {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}
.banner h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.banner h2 .sub {
  color: #00c6a9;
}
.banner .illu-building {
  width: 100%;
  max-width: 360px;
  animation: moveUpDown 2s ease infinite;
}
.banner .bg-dot {
  position: absolute;
  width: 450px;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}
.banner .link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 6px 20px;
  background-color: #265073;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.banner .link:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .banner {
    padding: 0;
  }
  .banner .left,
  .banner .right {
    width: 50%;
  }
  .banner h2 {
    margin-bottom: 40px;
  }
  .banner .illu-building {
    max-width: inherit;
  }
}
.news-wrapper {
  padding: 60px 0 20px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='380' preserveAspectRatio='none' viewBox='0 0 1920 380'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1214%26quot%3b)' fill='none'%3e%3cpath d='M266.73%2c410.551C302.649%2c409.465%2c323.879%2c373.295%2c339.182%2c340.781C351.882%2c313.798%2c351.432%2c284.35%2c338.856%2c257.309C323.469%2c224.224%2c303.217%2c185.229%2c266.73%2c184.998C230.067%2c184.766%2c209.447%2c223.616%2c193.008%2c256.388C178.708%2c284.897%2c172.509%2c316.633%2c186.269%2c345.406C202.226%2c378.774%2c229.76%2c411.669%2c266.73%2c410.551' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1037.73%2c72.19C1055.31%2c70.667%2c1067.65%2c56.858%2c1076.503%2c41.594C1085.397%2c26.26%2c1091.526%2c8.551%2c1083.93%2c-7.466C1075.265%2c-25.738%2c1057.94%2c-39.455%2c1037.73%2c-40.166C1016.369%2c-40.917%2c996.332%2c-29.374%2c985.537%2c-10.926C974.634%2c7.707%2c973.783%2c31.218%2c985.263%2c49.5C996.124%2c66.796%2c1017.383%2c73.953%2c1037.73%2c72.19' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1209.217%2c307.557C1234.636%2c307.595%2c1252.968%2c286.507%2c1265.993%2c264.679C1279.458%2c242.115%2c1289.96%2c215.577%2c1278.093%2c192.134C1265.273%2c166.808%2c1237.603%2c152.583%2c1209.217%2c152.522C1180.723%2c152.461%2c1152.655%2c166.393%2c1139.824%2c191.835C1127.949%2c215.38%2c1139.176%2c241.893%2c1152.738%2c264.508C1165.786%2c286.267%2c1183.846%2c307.519%2c1209.217%2c307.557' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1046.4375930924748 294.4787691123882L1075.9508654784395 231.18735223380372 966.2571039675804 218.56315209414925z' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1022.3349815659919 240.73029974835802L1008.2294146833411 184.15596103870763 930.420690060191 233.601480717509z' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M790.173%2c418.171C812.212%2c418.41%2c835.832%2c414.086%2c847.505%2c395.391C859.739%2c375.797%2c857.361%2c350.133%2c844.729%2c330.793C833.149%2c313.064%2c811.346%2c307.235%2c790.173%2c307.619C769.795%2c307.989%2c749.901%2c315.529%2c738.94%2c332.711C727.106%2c351.261%2c723.645%2c375.297%2c734.958%2c394.169C746.018%2c412.618%2c768.664%2c417.937%2c790.173%2c418.171' fill='rgba(157%2c 219%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1214'%3e%3crect width='1920' height='380' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.news-wrapper .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.news-wrapper .left,
.news-wrapper .right {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}
.news-wrapper .illu-news {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
}
.news-wrapper h3 {
  text-align: center;
}
.news-wrapper .news-list {
  margin-bottom: 20px;
}
.news-wrapper .news-list li {
  padding: 10px 0 8px;
  border-bottom: 1px solid #878787;
}
.news-wrapper .news-list .date {
  font-size: 0.875rem;
  color: #999;
}
.news-wrapper .btn-more {
  display: inline-block;
  padding: 6px 20px;
  margin: 0 6px 20px auto;
  background-color: #9bb8cd;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}
.news-wrapper .btn-more:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .news-wrapper .left,
  .news-wrapper .right {
    width: 50%;
  }
  .news-wrapper h3 {
    text-align: left;
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
footer {
  background-color: #ebf5ff;
  padding: 20px 0 0;
}
footer .contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
footer ul {
  line-height: 1.875rem;
  margin: 0 10px 10px;
}
footer ul .office {
  font-weight: 700;
}
footer .bottom {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  text-align: center;
}
footer .bottom ul {
  margin: 0;
}

@media (min-width: 1200px) {
  footer .contact-row {
    justify-content: space-around;
  }
}/*# sourceMappingURL=index.css.map */