@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  color: #4d4d4d;
  padding-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main-container {
  padding: 20px 15px;
  margin: 0 auto;
}

.el-input.is-disabled .el-input__inner {
  color: #606266;
  background-color: #fff;
}

.el-radio__input.is-disabled + span.el-radio__label {
  color: #606266;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #606266;
}

.el-radio__inner {
  width: 18px;
  height: 18px;
}
.el-radio__inner:after {
  width: 6px;
  height: 6px;
}

.el-form-item__label {
  font-size: 16px;
  font-weight: 700;
}

.el-tabs__nav {
  z-index: 1;
}

.el-input-group__append .el-button {
  padding: 12px 10px;
}

@media (max-width: 992px) {
  .el-dialog {
    width: 90% !important;
  }
}
[v-cloak] {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ui-datepicker .ui-datepicker-header {
  padding: 4px 30px;
}

.ui-datepicker-year {
  width: 80px !important;
  margin: 0 4px;
}

.ui-datepicker-month {
  width: 80px !important;
  margin: 0 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.w100p {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prompt-text {
  display: inline-block;
  font-size: 14px;
  color: #3081d0;
  line-height: 1;
  padding: 4px 0;
}

.btn-block {
  width: 100%;
}

.bottom-btn-row {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.bottom-btn-row .btn-send {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 48px;
  margin: 0 6px 20px auto;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.bottom-btn-row .btn-send:hover {
  opacity: 0.9;
}

.round .el-form-item__label {
  padding: 15px 0 6px;
  line-height: 1.5;
}
.round .el-input__inner {
  border-radius: 50px;
}
.round .el-input-group__append {
  border-radius: 50px;
  border-radius: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
}
.navbar h1 {
  margin: 0;
}
.navbar .navbar-logo {
  display: inline-block;
  width: 140px;
  margin-right: 60px;
}
.navbar .navbar-logo img {
  width: 100%;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-101%);
  transition: all 0.3s;
}
.navbar .navbar-menu a {
  display: block;
  padding: 15px 20px;
  color: #595758;
  white-space: nowrap;
  text-align: left;
  transition: all 0.3s;
}
.navbar .navbar-menu li {
  width: 100%;
}
.navbar .navbar-menu li.active a {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}
.navbar .navbar-menu .dropdown {
  position: relative;
}
.navbar .navbar-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-menu .dropdown-menu {
  display: none;
  position: static;
  border-top: 1px solid #c8dbbe;
}
.navbar .navbar-menu .dropdown-menu a {
  display: block;
  margin: 3px 0;
  padding-left: 40px;
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .navbar .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 0;
    overflow-y: inherit;
    transform: translateX(0);
  }
  .navbar .navbar-menu a {
    color: #595758;
    padding: 10px;
  }
  .navbar .navbar-menu a:hover {
    color: #59a73a;
  }
  .navbar .navbar-menu li {
    width: auto;
  }
  .navbar .navbar-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
  }
  .navbar .navbar-menu .dropdown-menu a {
    display: block;
    color: #595758;
    min-width: 120px;
    margin: 3px 0;
    padding: 10px 24px;
    opacity: 0.9;
  }
  .navbar .navbar-menu .dropdown-menu a:hover {
    color: #fff;
    background-color: #1a6fb0;
  }
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ .hamburger span {
  background-color: transparent;
}
#menuToggle:checked ~ .hamburger span:before {
  background-color: #595758;
  transform: rotate(45deg);
}
#menuToggle:checked ~ .hamburger span:after {
  background-color: #595758;
  transform: rotate(-45deg);
}
#menuToggle:checked ~ .navbar-menu {
  transform: translateX(0);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}
.hamburger span {
  position: relative;
  display: block;
  font-size: 0;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: all 0.3s;
}
.hamburger span:before {
  transform: translateY(-13px);
}
.hamburger span:after {
  transform: translateY(13px);
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.table-responsive {
  overflow-x: auto;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  font-weight: 700;
}
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
  line-height: 1.428571429;
}

#app {
  min-height: calc(100vh - 231px - 72px);
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.entry-wrap {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 40px 20px;
  margin: 40px auto;
}
.entry-wrap .aside,
.entry-wrap .side-form {
  width: 100%;
  padding: 0;
}
.entry-wrap .aside {
  display: none;
  position: sticky;
  top: 112px;
}
.entry-wrap .oth-links {
  text-align: right;
  margin-top: 10px;
}
.entry-wrap .oth-links a ~ a:before {
  content: "|";
  display: inline-block;
  margin: 0 6px;
}

@media (min-width: 768px) {
  .entry-wrap .aside,
  .entry-wrap .side-form {
    width: 50%;
    padding: 0 20px;
  }
  .entry-wrap .aside {
    display: block;
  }
}
.main-wrap {
  max-width: 1320px;
  padding: 40px 20px;
  margin: 0 auto;
}

.form-table th,
.form-table td {
  white-space: nowrap;
}
.form-table td {
  position: relative;
  min-width: 160px;
}

.row-table {
  width: auto;
}
.row-table th,
.row-table td {
  text-align: center;
  white-space: nowrap;
}

.head-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.head-row h3 {
  margin-bottom: 0;
  margin-right: 10px;
}

.el-tabs {
  margin-bottom: 22px;
}

.attach-tip-list {
  list-style-type: disc;
  margin-left: 20px;
}
.attach-tip-list li {
  margin-bottom: 10px;
  color: #f4a261;
}

.attach-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.attach-row > div {
  padding: 10px;
}
.attach-row .title {
  font-size: 22px;
  font-weight: 700;
  color: #1f2f3d;
  margin-bottom: 10px;
}

.link-download {
  display: block;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #0f67b1;
  border: 1px dashed #0f67b1;
  padding: 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.photo-wrap {
  position: relative;
}
.photo-wrap .btn-remove {
  position: absolute;
  top: 4px;
  right: 4px;
}
.photo-wrap img {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.img-thumb {
  width: 64px;
  height: 64px;
  margin: 2px;
  border: 1px solid #ccc;
}

.img-thumb-list {
  display: flex;
  flex-wrap: wrap;
}

.img-thumb-wrap {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 4px;
}
.img-thumb-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  border-radius: 4px;
  transition: all 0.3s;
}
.img-thumb-wrap:hover:before {
  opacity: 0.5;
}
.img-thumb-wrap:hover .link-delete {
  display: inline-block;
}
.img-thumb-wrap .link-delete {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 18px;
  color: #fff;
  margin: 0;
  line-height: 1;
}
.img-thumb-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.road-row {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  padding-top: 22px;
}
.road-row .road-col {
  margin-bottom: 22px;
}
.road-row .btn-delete {
  position: absolute;
  top: 4px;
  right: 4px;
}

@media (min-width: 768px) {
  .verify-card {
    width: 50%;
  }
}
.pwd-wrap {
  position: relative;
}
.pwd-wrap .btn-eye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #999;
  cursor: pointer;
}

.tip-text {
  cursor: pointer;
}

.selfcheck-list li {
  margin-bottom: 10px;
}

.checkbox-group {
  display: inline-block;
  margin-right: 20px;
}
.checkbox-group input[type=checkbox] {
  display: none;
}
.checkbox-group input[type=checkbox]:checked ~ label:before {
  background-color: #2aa1c0;
}
.checkbox-group input[type=checkbox][disabled] ~ label {
  opacity: 0.6;
}
.checkbox-group input[type=checkbox][disabled] ~ label:before {
  background-color: #e6e6e6;
}
.checkbox-group input[type=checkbox][disabled] ~ label:after {
  display: none;
}
.checkbox-group label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.checkbox-group label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
}
.checkbox-group label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
}
.form-wrap .empty {
  width: 100%;
  border: 2px dashed #ccc;
  padding: 40px 15px;
  margin: 0 auto;
}
.form-wrap .empty img {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.form-wrap .empty .empty-text {
  color: #40a0f4;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.form-wrap .form-item {
  position: relative;
  width: calc(100% - 24px);
  background-color: #f9f9f9;
  padding: 40px 15px 0;
  margin: 10px 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-wrap .form-item .status {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #22577e;
  padding: 2px 10px;
  border-top-left-radius: 6px;
}
.form-wrap .form-item .info-list {
  list-style-type: none;
  font-size: 16px;
}
.form-wrap .form-item .info-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 10px;
  line-height: 28px;
}
.form-wrap .form-item .info-list .title {
  width: 80px;
  color: #2a629a;
  font-weight: 700;
  margin-right: 10px;
}
.form-wrap .form-item .info-list .content {
  margin-right: 20px;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.form-wrap .form-item .info-list .link-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 40px;
  padding-left: 90px;
}
.form-wrap .form-item .info-list .link-row .el-button {
  margin: 6px 0;
}
.form-wrap .form-item .info-list .link-row .el-button ~ .el-button {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .form-wrap .form-item {
    width: calc(50% - 24px);
  }
}
@media (min-width: 992px) {
  .form-wrap .form-item {
    width: calc(33.3333333333% - 24px);
  }
}
.contact-group {
  border: 2px dashed #ccc;
  padding: 10px 10px 10px 0;
  margin-bottom: 10px;
}

.flex-row .el-form-item ~ .el-form-item {
  margin-left: 10px;
}

.el-tabs__item.is-disabled {
  color: #303133;
}

.el-tabs__item.is-disabled.is-active {
  color: #409eff;
}

.el-tabs__nav-wrap::after {
  z-index: 0;
}

.calc-result {
  padding: 10px 15px;
  color: #e6a23c;
  background-color: #fdf6ec;
  border: 2px dashed #e6a23c;
  list-style-type: none;
}
.calc-result li {
  padding: 8px 4px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #e6a23c;
}
.calc-result li .title {
  font-size: 14px;
  margin-bottom: 6px;
}
.calc-result li .content {
  font-size: 18px;
}

.hint-message {
  font-size: 14px;
  color: #2a629a;
  margin-bottom: 20px;
}

.count-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0;
}
.count-row .count-item {
  width: calc(100% - 24px);
  margin: 0 12px 30px;
  text-align: center;
}
.count-row .count-item .counter {
  margin-bottom: 20px;
}
.count-row .count-item .num {
  font-size: 2.5rem;
  font-weight: 900;
  color: #606060;
}
.count-row .count-item .unit {
  position: relative;
  font-size: 1rem;
  color: #a6be66;
  margin-left: 10px;
}
.count-row .count-item .unit:before {
  content: "+";
  position: absolute;
  top: -14px;
  left: -10px;
}
.count-row .count-item .count-text {
  color: #5d9bb4;
}

@media (min-width: 576px) {
  .count-row .count-item {
    width: calc(50% - 24px);
  }
}
@media (min-width: 992px) {
  .count-row .count-item {
    width: calc(25% - 24px);
  }
}
footer {
  background-color: #ebf5ff;
  padding: 20px 0 0;
}
footer .contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
footer ul {
  line-height: 1.875rem;
  margin: 0 10px 10px;
}
footer ul li {
  display: flex;
  align-items: flex-start;
}
footer ul .office {
  font-weight: 700;
}
footer ul .phone-list {
  padding: 0;
  margin: 0;
}
footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}
footer .bottom ul {
  margin: 0;
}

@media (min-width: 1200px) {
  footer .contact-row {
    justify-content: space-around;
  }
}/*# sourceMappingURL=member.css.map */