
@{
    ViewBag.Title = "Calc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/form.css")" />
    <style>
        .el-col {
            padding: 0 12px;
        }
    </style>
}
@section scripts {
    <script src="@Url.Content("~/static/js/form/calc.js")"></script>
}

<div id="app">
    <div class="main-wrap">
        <h2>營建空污費試算</h2>
        <el-form ref="form" :rules="rules" :model="form" label-position="top">
            <el-row>
                <el-col :xs="24" :sm="12" :md="8">
                    <el-form-item prop="KIND_NO" label="工程類別">
                        <el-select class="w100p" v-model="form.KIND_NO">
                            <el-option label="請選擇" :value="null"></el-option>
                            <el-option v-for="item in projectCode" :key="item.ID" :label="`${item.ID}. ${item.Name}`" :value="item.ID"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="8">
                    <el-form-item v-if="isShowAREA()" prop="AREA" :label="projectCodeText">
                        <el-input type="number" v-model="form.AREA"></el-input>
                    </el-form-item>
                    <el-form-item v-if="isShowVOLUMEL()" prop="VOLUMEL" label="外運土石體積(鬆方)(立方公尺)">
                        <el-input type="number" v-model="form.VOLUMEL"></el-input>
                    </el-form-item>
                    <el-form-item v-if="isShowMONEY()" prop="MONEY" label="工程合約經費(元)">
                        <el-input type="number" v-model="form.MONEY"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8">
                    <el-form-item prop="B_DATE2" label="預計開始日期">
                        <el-date-picker class="w100p" v-model="form.B_DATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="8">
                    <el-form-item prop="B_DATE2" label="結束日期">
                        <el-date-picker class="w100p" v-model="form.E_DATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :md="8">
                    <el-form-item label="預計施工天數">
                        <div>{{totalDays}}</div>
                    </el-form-item>
                </el-col>
            </el-row>
            <div class="bottom-btn-row">
                <button type="button" class="btn-send" @@click="sendForm">試 算</button>
            </div>
            <div class="calc-result" v-if="resultText" v-cloak>{{resultText}}</div>
        </el-form>
    </div>
</div>
