@using hbehr.recaptcha;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/form.css")" />
}
@section scripts {
    <script src="@Url.Content("~/static/js/form/update.js")"></script>
}

<div id="app">
    <div class="main-wrap">
        <h2>營建空污費申報(編輯)</h2>
        <el-form :rules="rules" ref="form" :model="form">
            <el-form-item label="案件類型">
                <el-select v-model="form.PUB_COMP">
                    <el-option label="請選擇" :value="null"></el-option>
                    <el-option label="私人工程" :value="false"></el-option>
                    <el-option label="公共工程" :value="true"></el-option>
                </el-select>
            </el-form-item>
            <h3>基本資料</h3>
            <div class="table-responsive">
                <table class="table form-table">
                    <tbody>
                        <tr>
                            <th style="width:180px">管制編號</th>
                            <td>{{form.C_NO || '待取號'}}</td>
                            <th style="width:180px">序號</th>
                            <td>{{form.SER_NO || '1'}}</td>
                            <th style="width:180px">鄉鎮分類</th>
                            <td>{{form.TOWN_NA}}</td>
                        </tr>
                        <tr>
                            <th>申請日期</th>
                            <td>{{form.C_DATE | date}}</td>
                            <th>申請人</th>
                            <td>
                                <el-form-item prop="CreateUserName">
                                    <el-input v-model="form.CreateUserName" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th>申請人電子信箱</th>
                            <td>
                                <el-form-item prop="CreateUserEmail">
                                    <el-input type="email" v-model="form.CreateUserEmail" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>1.工程名稱</th>
                            <td colspan="2">
                                <el-form-item prop="COMP_NAM">
                                    <el-input v-model="form.COMP_NAM" maxlength="150"></el-input>
                                </el-form-item>
                            </td>
                            <th>2.工程類別</th>
                            <td colspan="2">{{form.KIND_NA || '待審核'}}</td>
                        </tr>
                        <tr>
                            <th>3.工地地址或地號</th>
                            <td colspan="3">
                                <el-form-item prop="ADDR">
                                    <el-input v-model="form.ADDR" maxlength="100"></el-input>
                                </el-form-item>
                            </td>
                            <th>4.建照字號或合約編號</th>
                            <td>
                                <el-form-item prop="B_SERNO">
                                    <el-input v-model="form.B_SERNO" maxlength="60"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>座標X</th>
                            <td>
                                <el-form-item prop="UTME">
                                    <el-input type="number" v-model="form.UTME"></el-input>
                                </el-form-item>
                            </td>
                            <th>座標Y</th>
                            <td>
                                <el-form-item prop="UTMN">
                                    <el-input type="number" v-model="form.UTMN"></el-input>
                                </el-form-item>
                            </td>
                            <th>座標(緯度、經度)</th>
                            <td>
                                <el-form-item prop="LATLNG">
                                    <el-input v-model="form.LATLNG" maxlength="200"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>6.工程內容概述</th>
                            <td colspan="5">
                                <el-form-item prop="STATE">
                                    <el-input v-model="form.STATE" maxlength="200"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>環評保護對策</th>
                            <td colspan="5">
                                <el-form-item prop="EIACOMMENTS">
                                    <el-input v-model="form.EIACOMMENTS"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>記錄註記</th>
                            <td colspan="5">
                                <el-form-item prop="RECCOMMENTS">
                                    <el-input v-model="form.RECCOMMENTS"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>營建資料</h3>
            <div class="table-responsive">
                <table class="table form-table">
                    <tbody>
                        <tr>
                            <th style="width:180px">7.營建業主名稱</th>
                            <td colspan="3">
                                <el-form-item prop="S_NAME">
                                    <el-input v-model="form.S_NAME" maxlength="80"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">8.營利事業統一編號</th>
                            <td>
                                <el-form-item prop="S_G_NO">
                                    <el-input v-model="form.S_G_NO" maxlength="10"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>9.營業地址</th>
                            <td colspan="5">
                                <el-form-item prop="S_ADDR1">
                                    <el-input v-model="form.S_ADDR1" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>10.聯絡地址</th>
                            <td colspan="3">
                                <el-form-item prop="S_ADDR2">
                                    <el-input v-model="form.S_ADDR2" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                            <th>11.連絡電話</th>
                            <td>
                                <el-form-item prop="S_TEL">
                                    <el-input type="tel" v-model="form.S_TEL" maxlength="30"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>12.負責人姓名</th>
                            <td>
                                <el-form-item prop="S_B_NAM">
                                    <el-input v-model="form.S_B_NAM" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">13.職稱</th>
                            <td>
                                <el-form-item prop="S_B_TIT">
                                    <el-input v-model="form.S_B_TIT" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th>14.身分證字號</th>
                            <td>
                                <el-form-item prop="S_B_ID">
                                    <el-input v-model="form.S_B_ID" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>生日</th>
                            <td colspan="5">
                                <el-form-item prop="S_B_BDATE2">
                                    <el-date-picker v-model="form.S_B_BDATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>15.聯絡人姓名</th>
                            <td>
                                <el-form-item prop="S_C_NAM">
                                    <el-input v-model="form.S_C_NAM" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th>16.職稱</th>
                            <td>
                                <el-form-item prop="S_C_TIT">
                                    <el-input v-model="form.S_C_TIT" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th>17.身分證字號</th>
                            <td>
                                <el-form-item prop="S_C_ID">
                                    <el-input v-model="form.S_C_ID" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>18.聯絡人地址</th>
                            <td colspan="3">
                                <el-form-item prop="S_C_ADDR">
                                    <el-input v-model="form.S_C_ADDR" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                            <th>19.電話</th>
                            <td>
                                <el-form-item prop="S_C_TEL">
                                    <el-input type="tel" v-model="form.S_C_TEL" maxlength="30"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>承包(造)資料</h3>
            <div class="table-responsive">
                <table class="table form-table">
                    <tbody>
                        <tr>
                            <th style="width:180px">20.承包(造)單位名稱</th>
                            <td colspan="3">
                                <el-form-item prop="R_NAME">
                                    <el-input v-model="form.R_NAME" maxlength="60"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">21.營利事業統一編號</th>
                            <td>
                                <el-form-item prop="R_G_NO">
                                    <el-input v-model="form.R_G_NO" maxlength="10"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>22.營業地址</th>
                            <td colspan="5">
                                <el-form-item prop="R_ADDR1">
                                    <el-input v-model="form.R_ADDR1" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>23.聯絡地址</th>
                            <td colspan="3">
                                <el-form-item prop="R_ADDR2">
                                    <el-input v-model="form.R_ADDR2" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                            <th>24.連絡電話</th>
                            <td>
                                <el-form-item prop="R_TEL">
                                    <el-input type="tel" v-model="form.R_TEL" maxlength="30"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>25.負責人姓名</th>
                            <td>
                                <el-form-item prop="R_B_NAM">
                                    <el-input v-model="form.R_B_NAM" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">26.職稱</th>
                            <td>
                                <el-form-item prop="R_B_TIT">
                                    <el-input v-model="form.R_B_TIT" maxlength="20"></el-input>
                                </el-form-item>
                            </td>
                            <th>27.身分證字號</th>
                            <td>
                                <el-form-item prop="R_B_ID">
                                    <el-input v-model="form.R_B_ID" maxlength="30"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>生日</th>
                            <td colspan="5">
                                <el-form-item prop="R_B_BDATE2">
                                    <el-date-picker v-model="form.R_B_BDATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>28.工務所地址</th>
                            <td colspan="5">
                                <el-form-item prop="R_ADDR3">
                                    <el-input v-model="form.R_ADDR3" maxlength="50"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>29.工地主任姓名</th>
                            <td>
                                <el-form-item prop="R_M_NAM">
                                    <el-input v-model="form.R_M_NAM" maxlength="10"></el-input>
                                </el-form-item>
                            </td>
                            <th>30.工地環保負責人姓名</th>
                            <td>
                                <el-form-item prop="R_C_NAM">
                                    <el-input v-model="form.R_C_NAM" maxlength="10"></el-input>
                                </el-form-item>
                            </td>
                            <th>31.電話</th>
                            <td>
                                <el-form-item prop="R_TEL1">
                                    <el-input type="tel" v-model="form.R_TEL1" maxlength="30"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>經費資料</h3>
            <div class="table-responsive">
                <table class="table form-table">
                    <tbody>
                        <tr>
                            <th style="width:180px">32.工程合約經費</th>
                            <td>
                                <el-form-item prop="MONEY">
                                    <el-input type="number" v-model="form.MONEY"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">33.工程環保經費</th>
                            <td>
                                <el-form-item prop="C_MONEY">
                                    <el-input type="number" v-model="form.C_MONEY"></el-input>
                                </el-form-item>
                            </td>
                            <th style="width:180px">工程合約經費比例</th>
                            <td>
                                <el-form-item prop="PERCENT">
                                    <el-input type="number" v-model="form.PERCENT"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>施工面積</th>
                            <td>
                                <el-form-item prop="AREA">
                                    <el-input type="number" v-model="form.AREA" placeholder="非疏濬工程"></el-input>
                                </el-form-item>
                            </td>
                            <th>清運土石體積</th>
                            <td>
                                <el-form-item prop="VOLUMEL">
                                    <el-input type="number" v-model="form.VOLUMEL" placeholder="疏濬工程"></el-input>
                                </el-form-item>
                            </td>
                        </tr>
                        <tr>
                            <th>34.預計施工開始日期</th>
                            <td>
                                <el-form-item prop="B_DATE2">
                                    <el-date-picker class="w100p" v-model="form.B_DATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                                </el-form-item>
                            </td>
                            <th>預計施工完成日期</th>
                            <td>
                                <el-form-item prop="E_DATE2">
                                    <el-date-picker class="w100p" v-model="form.E_DATE2" type="date" value-format="yyyy-MM-dd" placeholder="請選擇日期"></el-date-picker>
                                </el-form-item>
                            </td>
                            <th>預計施工天數</th>
                            <td>{{totalDays}}</td>
                        </tr>
                        <tr>
                            <th>規定繳費方式</th>
                            <td>
                                <el-select v-model="form.P_KIND">
                                    <el-option label="一次全繳" value="一次全繳"></el-option>
                                    <el-option label="分兩次繳清" value="分兩次繳清"></el-option>
                                </el-select>
                            </td>
                            <th>空汙防制措施計畫書</th>
                            <td colspan="3">
                                <el-select v-model="form.BUD_DOC2">
                                    <el-option label="有" value="有"></el-option>
                                    <el-option label="無" value="無"></el-option>
                                </el-select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <el-tabs v-model="activeTab">
                <el-tab-pane label="檢附資料" name="first">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>檢附資料名稱</th>
                                    <th>說明</th>
                                    <th>檢附資料上傳</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>空氣污染防制費申報表</th>
                                    <td>建照起造人為公司行號請加蓋公司大小章，建照起造人為私人請加蓋個人私章</td>
                                    <td>
                                        <div v-if="form.Attachment.File1">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(1)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File1}`">{{form.Attachment.File1}}</a>
                                        </div>
                                        <input type="file" id="file1" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>建築執照影印本</th>
                                    <td></td>
                                    <td>
                                        <div v-if="form.Attachment.File2">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(2)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File2}`">{{form.Attachment.File2}}</a>
                                        </div>
                                        <input type="file" id="file2" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>營建業主身分證影本</th>
                                    <td>業主為建設公司檢附建設公司執照或營業事業登記證，若無營利事業登記證可用公司登記函取代</td>
                                    <td>
                                        <div v-if="form.Attachment.File3">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(3)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File3}`">{{form.Attachment.File3}}</a>
                                        </div>
                                        <input type="file" id="file3" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>簡易位置圖</th>
                                    <td>附註路名或大地標</td>
                                    <td>
                                        <div v-if="form.Attachment.File4">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(4)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File4}`">{{form.Attachment.File4}}</a>
                                        </div>
                                        <input type="file" id="file4" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>承包商營利事業登記證</th>
                                    <td>承包商第一次申報需檢附。若無營利事業登記證可用公司登記函取代</td>
                                    <td>
                                        <div v-if="form.Attachment.File5">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(5)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File5}`">{{form.Attachment.File5}}</a>
                                        </div>
                                        <input type="file" id="file5" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>承包商負責人身分證影本</th>
                                    <td>承包商第一次申報需檢附。空污費二萬元以上，請配合本局辦理道路認養。</td>
                                    <td>
                                        <div v-if="form.Attachment.File6">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(6)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File6}`">{{form.Attachment.File6}}</a>
                                        </div>
                                        <input type="file" id="file6" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>其它文件</th>
                                    <td></td>
                                    <td>
                                        <div v-if="form.Attachment.File7">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(7)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File7}`">{{form.Attachment.File7}}</a>
                                        </div>
                                        <input type="file" id="file7" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                                <tr>
                                    <th>免徵案件證明</th>
                                    <td>免徵案件需上傳免徵證明</td>
                                    <td>
                                        <div v-if="form.Attachment.File8">
                                            <a href="javascript:;" class="link-delete" @@click="deleteFile(8)"><i class="el-icon-delete"></i></a>
                                            <a :href="`/Option/Download?f=${form.Attachment.File8}`">{{form.Attachment.File8}}</a>
                                        </div>
                                        <input type="file" id="file8" accept=".doc,.docx,.pdf" v-else />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="停復工" name="second">
                    <div class="table-responsive" style="margin-top:10px">
                        <table class="table row-table">
                            <thead>
                                <tr>
                                    <th style="width:160px">停工日期</th>
                                    <th style="width:160px">復工日期</th>
                                    <th style="width: 140px; white-space: nowrap">停工天數</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="form.StopWorks.length === 0">
                                    <td colspan="3" class="text-center">暫無資料</td>
                                </tr>
                                <tr v-for="(item, idx) in form.StopWorks" :key="idx">
                                    <td>{{item.DOWN_DATE2 | date}}</td>
                                    <td>{{item.UP_DATE2 | date}}</td>
                                    <td>{{getStopDays(item)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </el-tab-pane>
            </el-tabs>

            <el-form-item prop="Captcha">
                @ReCaptcha.GetCaptcha()
            </el-form-item>
            <el-form-item prop="Captcha">
                <el-button type="primary" class="btn-block" @@click="sendForm">儲 存</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

