@using NT_AirPollution.Model.Enum;
@using NT_AirPollution.Service;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
}
@section scripts {
    <script src="@Url.Content("~/static/js/member/edit.js")"></script>
}

<div id="app">
    <div class="main-wrap" style="width: fit-content">
        <h2>會員資料修改</h2>
        <el-form :rules="rules" ref="form" :model="form" label-position="top">
            <el-form-item label="會員類型">@BaseService.CurrentUser.UserType</el-form-item>
            <el-form-item label="Email">@BaseService.CurrentUser.Email</el-form-item>
            <el-form-item label="統一編號">{{form.CompanyID}}</el-form-item>
            <el-form-item prop="Password" label="新密碼">
                <el-input type="password" v-model="form.Password" maxlength="20"></el-input>
                <small class="prompt-text">密碼須為 6 ~ 20 字，且須使用大、小寫英文 + 數字組合</small>
            </el-form-item>
            <el-form-item prop="Password2" label="確認密碼">
                <el-input type="password" v-model="form.Password2" maxlength="20"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" class="btn-block" @@click="updatePassword">確認送出</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>