* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', sans-serif;
	color: #4d4d4d;
	padding-top: 72px;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

img {
	vertical-align: middle;
}

ul {
	list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.main-container {
	padding: 20px 15px;
	margin: 0 auto;
}

.el-input.is-disabled .el-input__inner {
	color: #606266;
	background-color: #fff;
}
.el-radio__input.is-disabled + span.el-radio__label {
	color: #606266;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
	background-color: #606266;
}

.el-radio__inner {
    width: 18px;
    height: 18px;
    &:after {
        width: 6px;
        height: 6px;
    }
}

.el-form-item__label {
	font-size: 16px;
	font-weight: 700;
}

// .el-tabs__nav-wrap::after {
// 	z-index: 0;
// }
.el-tabs__nav {
	z-index: 1;
}

.el-input-group__append {
	.el-button {
		padding: 12px 10px;
	}
}

@media (max-width: 992px) {
	.el-dialog {
		width: 90% !important;
	}
}

[v-cloak] {
	display: none !important;
}

.flex-row {
    display: flex;
    align-items: center;
}