.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	background-color: #fff;
	padding: 10px 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	z-index: 1;
	.container {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 0 15px;
	}
	h1 {
		margin: 0;
	}
	.navbar-logo {
		display: inline-block;
		width: 140px;
		margin-right: 20px;
		img {
			width: 100%;
		}
	}
	.navbar-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 72px;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		overflow-y: auto;
		transform: translateX(-101%);
		transition: all 0.3s;
		a {
			display: block;
			padding: 15px 20px;
			color: #595758;
			white-space: nowrap;
			text-align: left;
			transition: all 0.3s;
		}
		li {
			width: 100%;
			&.active {
				a {
					// background-color: #51adcf;
                    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 0.2em;
                    background-position: 0 88%;
				}
			}
		}
		.dropdown {
			position: relative;
			&:hover {
				& .dropdown-menu {
					display: block;
				}
			}
		}
		.dropdown-menu {
			display: none;
			position: static;
			border-top: 1px solid #c8dbbe;
			a {
				display: block;
				margin: 3px 0;
				padding-left: 40px;
				opacity: 0.9;
			}
		}
	}
}

@media (min-width: 1200px) {
	.navbar {
		// position: relative;
		.navbar-menu {
			position: static;
			display: flex;
			flex-direction: row;
			background-color: transparent;
			padding-top: 0;
			overflow-y: inherit;
			transform: translateX(0);
			a {
				color: #595758;
				padding: 10px;
				&:hover {
					color: #59a73a;
				}
			}
			li {
				width: auto;
			}
			.dropdown-menu {
				position: absolute;
				top: 100%;
				left: 0;
                background-color: #fff;
				border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 4px;
				z-index: 1;
				a {
					display: block;
					color: #595758;
					min-width: 120px;
					margin: 3px 0;
					padding: 10px 24px;
					opacity: 0.9;
					&:hover {
						color: #fff;
						background-color: #1a6fb0;
					}
				}
			}
		}
	}
}

#menuToggle {
	display: none;
	&:checked {
		& ~ .hamburger {
			span {
				background-color: transparent;
				&:before {
					background-color: #595758;
					transform: rotate(45deg);
				}
				&:after {
					background-color: #595758;
					transform: rotate(-45deg);
				}
			}
		}
		& ~ .navbar-menu {
			transform: translateX(0);
		}
	}
}
.hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 1;
	span {
		position: relative;
		display: block;
		font-size: 0;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition: all 0.3s;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			transition: all 0.3s;
		}
		&:before {
			transform: translateY(-13px);
		}
		&:after {
			transform: translateY(13px);
		}
	}
}

@media (min-width: 1200px) {
	.hamburger {
		display: none;
	}
}
