@import './config';
@import './shared';
@import './navbar';
@import './table';

#app {
    min-height: calc(100vh - 231px - 72px);
}

h1,
h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-wrap {
    max-width: 1170px;
    padding: 40px 20px;
    margin: 40px auto;
}

.form-table {
    th,
    td {
        white-space: nowrap;
    }
    td {
        min-width: 160px;
    }
}

.head-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    h3 {
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.el-tabs {
    margin-bottom: 22px;
}

.progressbar {
    display: flex;
    counter-reset: step;
    margin: 40px 0;
}
.progressbar li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    position: relative;
    text-align: center;
    cursor: pointer;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
}
.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #2f8f9d;
}
.progressbar li.active:before {
    color: #fff;
    background-color: #2f8f9d;
}
.progressbar li.active + li:after {
    background-color: #2f8f9d;
}

.result-list {
    font-size: 20px;
    li {
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #666;
        padding: 6px 15px;
        line-height: 1.8;
        .label {
            display: inline-block;
            width: 160px;
            text-align: right;
            font-weight: 700;
        }
        .text {
            margin-right: 10px;
        }
    }
}

@import './footer';
