@import './config';
@import './shared';
@import './navbar';
@import './table';

#app {
    min-height: calc(100vh - 231px - 72px);
}

h1,
h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-wrap {
    max-width: 1320px;
    padding: 40px 20px;
    margin: 40px auto;
}

.form-table {
    td {
        position: relative;
        min-width: 160px;
    }
}

.row-table {
    width: auto;
    th,
    td {
        text-align: center;
        white-space: nowrap;
    }
}

.head-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    h3 {
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.el-tabs {
    margin-bottom: 22px;
}

.file-list {
    margin-right: 30px;
	li {
		display: flex;
		align-items: center;
		padding: 4px 0;
	}
}

.link-add {
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 24px;
	line-height: 24px;
	color: #67C23A;
}

.link-delete {
	color: #f56c6c;
	margin-right: 10px;
}

.latlng-row {
    display: flex;
    align-items: center;
    .el-form-item {
        margin: 0 10px;
    }
    .btn-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        .btn-row {
            margin: 2px 0;
        }
    }
}

@import './footer';
