@import './config';
@import './shared';
@import './navbar';
@import './table';

#app {
	min-height: calc(100vh - 231px - 72px);
}

h1,
h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.entry-wrap {
	display: flex;
	align-items: flex-start;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding: 40px 20px;
	margin: 40px auto;
	.aside,
	.side-form {
		width: 100%;
		padding: 0;
	}
	.aside {
		display: none;
		position: sticky;
        top: 112px;
	}
	.oth-links {
		text-align: right;
		margin-top: 10px;
		a {
			& ~ a {
				&:before {
					content: '|';
					display: inline-block;
					margin: 0 6px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.entry-wrap {
		.aside,
		.side-form {
			width: 50%;
			padding: 0 20px;
		}
		.aside {
			display: block;
		}
	}
}

.main-wrap {
	max-width: 1280px;
	padding: 40px 20px;
	margin: 0 auto;
}

.form-table {
	th,
	td {
		white-space: nowrap;
	}
	td {
		position: relative;
		min-width: 160px;
	}
}

.row-table {
	width: auto;
	th,
	td {
		text-align: center;
		white-space: nowrap;
	}
}

.head-row {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	h3 {
		margin-bottom: 0;
		margin-right: 10px;
	}
}

.el-tabs {
	margin-bottom: 22px;
}

.file-list {
	margin-right: 30px;
	li {
		display: flex;
		align-items: center;
		padding: 4px 0;
	}
}

.link-add {
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 24px;
	line-height: 24px;
	color: #67C23A;
}

.link-delete {
	color: #f56c6c;
	margin-right: 10px;
}

.link-download {
    color: #3652ad;
}

.photo-wrap {
    position: relative;
    .btn-remove {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    img {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.img-thumb {
	width: 64px;
	height: 64px;
	margin: 2px;
	border: 1px solid #ccc;
}
.img-thumb-list {
	display: flex;
	flex-wrap: wrap;
}
.img-thumb-wrap {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 4px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: 0;
		border-radius: 4px;
		transition: all 0.3s;
	}
	&:hover {
		&:before {
			opacity: 0.5;
		}
		.link-delete {
			display: inline-block;
		}
	}
	.link-delete {
		display: none;
		position: absolute;
		top: 4px;
		right: 4px;
		font-size: 18px;
		color: #fff;
		margin: 0;
		line-height: 1;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 4px;
	}
}

.road-row {
	position: relative;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin-bottom: 10px;
	padding-top: 22px;
	.road-col {
		margin-bottom: 22px;
	}
	.btn-delete {
		position: absolute;
		top: 4px;
		right: 4px;
	}
}

@media (min-width: 768px) {
	.verify-card {
		width: 50%;
	}
}

@import './footer';
