@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
    <style>
        .el-col {
            padding: 0 10px;
        }

        .btn-icon {
            width: 32px;
        }

        .txt-day {
            font-size: 20px;
            font-weight: 700;
        }
    </style>
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/static/js/calc.js")"></script>
}

<div id="app" class="container main">
    <div class="entry-wrap">
        <div class="aside">
            <h1>營建空污費試算</h1>
            <el-form class="round" ref="form" :rules="rules" :model="form" label-position="top">
                <el-form-item prop="KIND_NO" label="工程類別">
                    <el-select class="w100p" v-model="form.KIND_NO">
                        <el-option label="請選擇" :value="null"></el-option>
                        <el-option v-for="item in projectCode" :key="item.ID" :label="`${item.ID}. ${item.Name}`" :value="item.ID"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item prop="B_DATE" label="開始日期">
                    <div class="el-input">
                        <input type="text" class="el-input__inner datepicker" data-key="B_DATE" v-model="form.B_DATE" readonly />
                    </div>
                </el-form-item>
                <el-form-item prop="E_DATE" label="結束日期">
                    <div class="el-input">
                        <input type="text" class="el-input__inner datepicker" data-key="E_DATE" v-model="form.E_DATE" readonly />
                    </div>
                </el-form-item>
                <el-form-item v-if="isShowAREA()" prop="AREA" :label="projectCodeText" v-cloak>
                    <el-input type="number" v-model="form.AREA"></el-input>
                </el-form-item>
                <el-form-item v-if="form.KIND_NO === '3'" prop="VOLUMEL" :label="projectCodeText" v-cloak>
                    <el-input type="number" v-model="form.VOLUMEL"></el-input>
                </el-form-item>
                <el-form-item v-if="isShowMONEY()" prop="MONEY" label="工程合約經費(元)" v-cloak>
                    <el-input type="number" v-model="form.MONEY" placeholder="未稅金額(元)"></el-input>
                </el-form-item>
                <div v-if="form.KIND_NO === 'B'" v-cloak>
                    <div style="margin-bottom:10px">鬆方體積換算表</div>
                    @*<div class="flex-row" style="align-items: flex-end">
                            <div style="flex:1; padding: 0 10px">
                                <el-form-item label="實方體積(立方公尺)">
                                    <el-input type="number" v-model="form.D2"></el-input>
                                </el-form-item>
                            </div>
                            <div style="flex: 1; padding: 0 10px">
                                <el-form-item label="鬆實方比值">
                                    <el-input type="number" v-model="form.RATIOLB"></el-input>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item>
                                    <el-button type="primary" round @@click="calcD2">換算</el-button>
                                </el-form-item>
                            </div>
                        </div>*@
                    <div class="flex-row" style="align-items: flex-end">
                        <div style="flex:1; padding: 0 10px">
                            <el-form-item label="鬆方重量(公噸)">
                                <el-input type="number" v-model="form.E2"></el-input>
                            </el-form-item>
                        </div>
                        <div style="flex:1; padding: 0 10px">
                            <el-form-item label="密度">
                                <el-input type="number" v-model="form.DENSITYL"></el-input>
                            </el-form-item>
                        </div>
                        <div>
                            <el-form-item>
                                <el-button type="primary" round @@click="calcE2">換算</el-button>
                            </el-form-item>
                        </div>
                    </div>
                    <el-form-item prop="VOLUMEL" label="外運土石體積(立方公尺)">
                        <el-input type="number" v-model="form.VOLUMEL"></el-input>
                    </el-form-item>
                </div>
                <el-form-item label="預計施工天數">
                    <div class="txt-day" v-cloak>{{totalDays}}</div>
                </el-form-item>
                <div class="bottom-btn-row">
                    <button type="button" class="btn-send btn-block" @@click="sendForm">試 算</button>
                </div>
            </el-form>
        </div>
        <div class="side-form">
            <ul class="calc-result" v-if="calcResult" v-cloak>
                <li>
                    <div class="title">案件工程</div>
                    <div class="content">{{calcResult.Level}} {{getProjectCodeItem(form.KIND_NO).ID}}.{{getProjectCodeItem(form.KIND_NO).Name}}</div>
                </li>
                <li>
                    <div class="title">營建空污費費率</div>
                    <div class="content">{{calcResult.Rate}}</div>
                </li>
                <li>
                    <div class="title">需繳納營建空污費</div>
                    <div class="content">$ {{calcResult.TotalMoney | comma}} 元整(新台幣)</div>
                </li>
            </ul>
        </div>
    </div>
</div>
