
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img class="bg-dot" src="@Url.Content("~/static/image/bg-dots.png")" />
    <div class="container">
        <div class="left">
            <h2>營建工程空氣污染防制費<br /><span class="sub">線上申報系統</span></h2>
            <a href="#" class="link">營建空污費試算</a>
            <a href="#" class="link">營建空污費申報</a>
        </div>
        <div class="right">
            <img class="illu-building" src="@Url.Content("~/static/image/illu-building.svg")" />
        </div>
    </div>
</div>
<div class="news-wrapper">
    <div class="container">
        <div class="left">
            <img class="illu-news" src="@Url.Content("~/static/image/illu-news.svg")" />
        </div>
        <div class="right">
            <h3>最新消息</h3>
            <ul class="news-list">
                <li>
                    <span class="date">2023-12-01</span>
                    <a href="#" class="title">營建工程空氣污染防制設施管理辦法執行手冊</a>
                </li>
                <li>
                    <span class="date">2023-12-01</span>
                    <a href="#" class="title">營建工程空氣污染防制設施管理辦法執行手冊</a>
                </li>
            </ul>
            <div class="text-right">
                <a href="#" class="btn-more">更多消息</a>
            </div>
        </div>
    </div>
</div>

