
@{
    ViewBag.Title = "Calc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/form.css")" />
    <style>
        .table {
            table-layout: fixed;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
}

<div id="app">
    <div class="main-wrap">
        <h2 class="headline">工程類別說明</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th colspan="2" style="width: 120px;">工程類別</th>
                    <th style="width: 120px;">第一級費率</th>
                    <th style="width: 120px;">第二級費率</th>
                    <th style="width: 120px;">第三級費率</th>
                    <th style="width: 120px;">費基</th>
                    <th colspan="2" style="width: 240px;">備註</th>
                </tr>
                <tr>
                    <td rowspan="3" style="width: 140px;">建築(房屋)工程</td>
                    <td style="width: 140px;">鋼筋混凝土構造 (RC)</td>
                    <td>二．四七元\平方公尺\月</td>
                    <td>二．六五元 \平方公尺 \月</td>
                    <td>五．九○元 \平方公尺 \月</td>
                    <td rowspan="2" style="width: 120px;">建築面積 × 工期</td>
                    <td style="width: 240px;">包括磚造、加強磚造、木造及其他一般房屋之新建、增建、改建 及修建工程。</td>
                    <td rowspan="11">
                        <ul>
                            <li>一、「費率」之「月」以「三十日」計。</li>
                            <li>二、「費基」之「工期」單位以日曆天計，即包括工作天與非工作天。</li>
                            <li>三、施工面積係指實際施工時所涵蓋之面積(含施工圍籬等各項施作面積之總合，第一次申繳空污費時得由申報者暫依施工計畫先行填報)。</li>
                            <li>四、鬆方係指受疏濬開採作業所擾動之土石；實方係指疏濬開採作業前，未受擾動之土石。鬆方體積除以實方體積之比值以一‧三一計，鬆方之密度以一‧五一公噸/立方公尺計。營建業主如有現地取樣之實方與鬆方試驗相關數據，得報請地方主管機關同意後，依該數據採計。</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>鋼骨構造</td>
                    <td>二．五四元 \平方公尺 \月</td>
                    <td>二．八二元 \平方公尺 \月</td>
                    <td>五．六三元 \平方公尺 \月</td>
                    <td>包括鋼鐵、鋼架、鋼骨鋼筋加強混凝土構造（SRC）之新建、增建、改建及修建工程。</td>
                </tr>
                <tr>
                    <td>拆除</td>
                    <td>○．四九元 \平方公尺</td>
                    <td>○．五六元 \平方公尺</td>
                    <td>一．○六元 \平方公尺</td>
                    <td>總 樓 地 板 面積</td>
                    <td>不分房屋型態，均以同一費率核計。</td>
                </tr>
                <tr>
                    <td rowspan="2">道路、隧道工程</td>
                    <td>道路</td>
                    <td>一．四三元 \平方公尺 \月</td>
                    <td>一．五九元 \平方公尺 \月</td>
                    <td>三．一八元 \平方公尺 \月</td>
                    <td>施 工 面 積 × 工期</td>
                    <td>
                        <ul>
                            <li>一、包括平面道路及高架(含陸橋)道路之新建、拓寬與拆除工程。</li>
                            <li>二、以預鑄工法建造之高架道路施工，不在此限。</li>
                            <li>三、若為地下道路工程，則施工面積只採其平面(地上)施工段之面積(如路面開挖部分及工作井之施工圍籬部分)。</li>
                            <li>四、同一工地之道路與相關工程（如管線、擋土牆、邊溝工程等），若於工期內同時施工，則該相關工程之施工面積亦併入此項；若於不同階段分開施工，則應分項核計。</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>隧 道</td>
                    <td>二．○八元 \平方公尺 \月</td>
                    <td>二．四二元 \平方公尺 \月</td>
                    <td>四．二四元 \平方公尺 \月</td>
                    <td>隧 道 平 面 面積×工期</td>
                    <td>係指施工時含有鑽洞、爆破或鑿挖之工程。</td>
                </tr>
                <tr>
                    <td colspan="2">管線工程</td>
                    <td>二．四二元 \平方公尺 \月</td>
                    <td>二．九九元 \平方公尺 \月</td>
                    <td>四．七五元 \平方公尺 \月</td>
                    <td>施 工 面 積 × 工期</td>
                    <td>包括上下水道、雨水溝、電力、電信、瓦斯及其他涵管(箱)之施工作業。</td>
                </tr>
                <tr>
                    <td colspan="2">橋樑工程</td>
                    <td>○．二八元 \平方公尺 \月</td>
                    <td>○．二八元 \平方公尺 \月</td>
                    <td>○．五一元 \平方公尺 \月</td>
                    <td>橋 面 面 積 × 工期</td>
                    <td>包括跨越河道水溝、行水區之各式橋樑及引橋之施工或拆除作業及以預鑄工法施作之高架道路施工作業。</td>
                </tr>
                <tr>
                    <td rowspan="2">區域開發工程</td>
                    <td>遊樂區</td>
                    <td>四、三五○元 \ 公頃 \月</td>
                    <td>五、三○六元 \ 公頃 \月</td>
                    <td>八、六九 九元 \ 公頃 \月</td>
                    <td rowspan="2">施工面積 × 工期</td>
                    <td rowspan="2">
                        <ul>
                            <li>一、係指開發面積一公頃以上(含)之開發工程。</li>
                            <li>二、作業包括同時施工之填土、整地、污水、排水、自來水、道路、路燈、景觀綠化、配水池、電力電信、瓦斯管線等部分或全部，以及必要建築與道路工程。</li>
                            <li>三、於開發後另行申請建照之建築或道路或其他施工者，另以該項工程採計。</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>工業區、社區及其他</td>
                    <td>五、七八七元 \ 公頃 \月</td>
                    <td>七、○六○元 \ 公頃 \月</td>
                    <td>一 一 、 五 七 四 元 \公頃 \月</td>
                </tr>
                <tr>
                    <td colspan="2">疏濬工程</td>
                    <td>五．一○元\立方公 尺</td>
                    <td>六．○七元\立方公 尺</td>
                    <td>八．九○元\立方公 尺</td>
                    <td>外運土石體積(鬆方)</td>
                    <td>係指清除水道(不包括排水設施、灌溉圳路)及水庫淤積土石，且將土石運離工區之工程。</td>
                </tr>
                <tr>
                    <td colspan="2">其他營建工程</td>
                    <td>工程合約經費之千分之二．八</td>
                    <td>工程合約經費之千分之三．五</td>
                    <td>工程合約經費之千分之五．四</td>
                    <td>工程合約經費</td>
                    <td>
                        <ul>
                            <li>一、係指非上述所列之其他土木工程、拆除工程、零星 營建工程，或其他經地方主管機關指定者。</li>
                            <li>二、工程合約經費不包括營業稅。</li>
                            <li>三、工程合約經費明細已詳列不涉及粒狀污染物排放之設備費用或工程材料費用，經主管機關認可者，不列入工程合約經費計算。</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
