@using NT_AirPollution.Model.View;
@model List<Downloads>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap">
    <h2 class="headline">下載專區</h2>
    @if (@Model.Count() == 0)
    {
        <div class="empty">
            <img src="@Url.Content("~/static/image/illu-empty.svg")" />
            <div class="empty-text">暫無任何下載檔案</div>
        </div>
    }
    <ul class="download-list">
        @foreach (var item in @Model)
        {
            <li>
                <div class="title">@item.Title</div>
                <a class="btn-download" href="@Url.Content("~/static/download/" + item.Filename)">檔案下載</a>
            </li>
        }
    </ul>
</div>