<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NT_AirPollution" connectionString="Data Source=.;Initial Catalog=NT_AirPollution;Persist Security Info=True;User ID=demo;Password=1234" providerName="System.Data.SqlClient" />
		<add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\case\Alvin\文件\南投空汙\Access\M南投縣_A2021營建_建檔資料 mdbapsvy.accdb;Jet OLEDB:Database Password=mdbapsvy;Persist Security Info=False;" providerName="System.Data.OleDb" />
	</connectionStrings>
	<appSettings>
		<add key="BankFile" value="D:\bankfile" />
		<add key="BankFileHistory" value="D:\bankfile\history" />
		<add key="NotifyMail" value="siruko25@mail.ntepb.gov.tw" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>