<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NT_AirPollution" connectionString="Data Source=.;Initial Catalog=NT_AirPollution;Persist Security Info=True;User ID=demo;Password=1234" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="BankFile" value="D:\bankfile" />
		<add key="BankFileHistory" value="D:\bankfile\history" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>