@using NT_AirPollution.Model.Domain;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="@Url.Content("~/static/css/pagination.css")" rel="stylesheet" />
}

<div class="main-wrap">
    <div class="news-title-wrap">
        <h3 class="news-title">@Model.Title</h3>
        <div class="pub-date">發佈日期：<b>@Model.PublishDate.ToString("yyyy-MM-dd")</b></div>
    </div>
    <div class="news-content">@Html.Raw(Model.Content.Replace("\n", "<br>"))</div>
    <div class="text-center">
        <a href="javascript:history.back()" class="link-back">< 回上一頁</a>
    </div>
</div>
